h1 {
      text-align: center;
      margin: 40px 0 20px;
      color: #1e3a8a;
    }
    .table-container {
      max-width: 95%;
      margin: 0 auto 50px;
      background: white;
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    .table th, .table td {
      text-align: center;
      vertical-align: middle;
    }
    footer{
        position: fixed;
        bottom: 0;
    }
    .nav-link:hover{
      color: #16a34a;
      font-weight: bold;
    }